body {

  background: url("cafechatinterior.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Helvetica', sans-serif;
}
header {
font-family: 'Impact', sans-serif;
width: 129px;
height: 143px;
margin: 20px auto;
}
div {
  font-family: 'Impact', sans-serif;
  width: 500px;
  height: 30px;
  margin: 50px auto;
}






